@{
  Layout = "_Layout";
}

<body id="venue-details">
  <h1>Details for the band: <em>@Model["band"].GetName()</em></h1>

  <div class="container">
    <div class="well details">
      <p><strong>Band name:</strong> @Model["band"].GetName()</p>
      <p><strong>Band price:</strong> $@Model["band"].GetPrice()</p>
      <a href='/band/update/@Model["band"].GetId()'><button type="button" class="btn btn-warning">Update Details</button></a>
      <a href='/band/delete/@Model["band"].GetId()'><button type="button" class="btn btn-danger">Delete</button></a>
    </div>

    <p><strong>Past venues performed:</strong></p>
      <ul>
        @foreach (var venue in @Model["venues"])
        {
          <a href="/venue/detail/@venue.GetId()"><li>@venue.GetName()</li></a>
        }
      </ul>

    <p><strong>Add another venue to @Model["band"].GetName():</strong></p>
    <form action='/add/venue/band/@Model["band"].GetId()' method="post">
      <label for="band"><h5>Select Venue:</h5></label>
      <select class="selectpicker" name="venue">
        @foreach(var venue in @Model["allVenues"])
        {
          <option value="@venue.GetId()">@venue.GetName()</option>
        }
      </select>
      <button type="submit" name="button" class="btn btn-success">Select venue</button>
    </form>

    <a href="/venue/form"><button type="button" class="btn btn-default navbar-btn">Add New Venue</button></a>
    <a href="/view/bands"><button type="button" class="btn btn-default">View bands</button></a>
  </div>
</body>
