@{
  Layout = "_Layout";
}

<body id="venue-details">
  <h1>Details for the venue: <em>@Model["venue"].GetName()</em></h1>

  <div class="container">
    <div class="well details">
      <p><strong>Venue name:</strong> @Model["venue"].GetName()</p>
      <p><strong>Venue price:</strong> $@Model["venue"].GetPrice()</p>
      <a href='/venue/update/@Model["venue"].GetId()'><button type="button" class="btn btn-warning">Update Details</button></a>
      <a href='/venue/delete/@Model["venue"].GetId()'><button type="button" class="btn btn-danger">Delete</button></a>
    </div>

    <p><strong>Past band performances:</strong></p>
      <ul>
        @foreach (var band in @Model["bands"])
        {
          <a href="/band/detail/@band.GetId()"><li>@band.GetName()</li></a>
        }
      </ul>

    <form action='/add/band/venue/@Model["venue"].GetId()' method="post">
      <label for="band"><h5>Select Band:</h5></label>
      <select class="selectpicker" name="band">
        @foreach(var band in @Model["allBands"])
        {
          <option value="@band.GetId()">@band.GetName()</option>
        }
      </select>
      <button type="submit" name="button" class="btn btn-success">Select band</button>
    </form>

    <a href="/band/form"><button type="button" class="btn btn-default navbar-btn">Add New Band</button></a>
    <a href="/view/venues"><button type="button" class="btn btn-default">View Venues</button></a>
  </div>
</body>
